
{% extends 'index.html' %}
{% block content %}
<h1>Listado de alumnos</h1>

<ul>
    {% for s in stdnts %}
    <li>{{s.id}} {{s.name}} 
        <a class="info" href="student/{{s.id}}">INFO</a> 
        <a class="edit" href="{% url 'update_student' s.id %}">EDIT</a>
        <a class="delete" href="{% url 'delete_student' s.id %}">DELETE</a>
    </li>

    {% endfor %}
</ul>
<style>
    li> a{
        text-decoration: none;
        border-radius: 6px;
        padding: 4px;
        color: white;
    }
    li{
        list-style: none;
        margin: 5px;
        padding: 10px;
        border: 1px solid black;
    }
    .info{
        background-color: green;
    }
    .edit{
        background-color: darkorange;
    }
    .delete{
        background-color: red;
    }
</style>

{% endblock %}